---
import { getCollection } from 'astro:content';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/global.css';

const allPosts = await getCollection('posts');
// const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = 'Mi blog de Astro aprendizaje';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} pubDate={post.data.pubDate}/>
      ))
    }
  </ul>
</BaseLayout>
