---
import { ViewTransitions, slide } from "astro:transitions"
---

<div transition:animate={slide({ duration: '1s'})} class="nav-links">
    <a href='/'>Inicio</a>
    <a href='/blog/'>Blog</a>
    <a data-astro-reload href='/about/'>Sobre mi</a>
    <a href='/tags/'>Etiquetas</a>
</div>
